@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , 'Inter';
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #394cab;
    color: black;
}
.roomgame{
    max-width: 800px;
    height: 70vh;
    display: flex;
    color: white;
    border-radius:8px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #a55a92;
}
.Game-events{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.place-answer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.place-answer .word{
    width: 100%;
    list-style-type: none;
    border-bottom: 3px solid #1f2d70;
    margin: 10px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}
.place-answer .mark{
    border-bottom: none;
    margin-bottom: 5vh;
}
.Relationship{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
}
.chanse span{
    color: blue;
}
.keybord{
    height: 40%;
    width: 100%;
    text-align: center;
}
.keybord button{
    border-radius: 5px;
    border: none;
    background-color: #394cab;
    width: 40px;
    color: white;
    height: 40px;
    margin: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.keybord button:hover{
    background-color: #4c63d3;
}
.keybord button:focus{
    background-color: #4c63d3;
}
.Game-status{
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.control{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.404);
    color: white;
}
.Game-over{
    background-color: blueviolet;
    min-width: 500px;
    min-height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.Great-game{
    background-color: blueviolet;
    min-width: 500px;
    min-height: 450px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.reload-button{
    border: none;
    background-color: #978cfe;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: lightcyan;
}
.reload-button:hover{
    cursor: pointer;
    background-color: #484185;
    transition: 0.3s;
}
.control .images{
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Result{
    width: 100%;
    background-color: #1f2d70;
    padding: 3vh;
    text-align: center;
}
.green{
    color: rgb(97, 252, 97);
}
.reed{
    color: red;
}

@media only screen and (max-width:650px){
    .roomgame{
        flex-direction: column-reverse;
        width: 100vh;
        height: 100vh;
    }
    .Game-status{
        margin-top: 50px;
    }
    .keybord{
        margin: 20px;
    }
    .place-answer{
        margin: 20px;
    }
}